<div class="container">
    <div class="row mt-2">
        <div class="col-sm">
            <app-breath></app-breath>
        </div>
        <div class="card col-sm m-2" style="width: 18rem;">            
            <div class="card-body">
              <h5 class="card-title">Breathing cube</h5>
              <p class="card-text text-justify ">La sincronicidad lleva al sistema visual a asignar el movimiento visto en diferentes aperturas a un solo objeto. Cuando las aberturas son muy estrechas, las señales de movimiento se encuentran predominantemente a lo largo de los límites de las aberturas, lo que provoca una aparente expansión y contracción del objeto. Pero cuando las aberturas son amplias, los contornos visibles extendidos y las esquinas son suficientes para codificar el movimiento del objeto como rotacional.</p>
              <p class="card-text text-justify font-weight-bold">Instrucciones:</p>
              <p class="card-text text-justify">Para interactuar con la flecha arriba y abajo se pueden hacer crecer y disminuir el tamaño de las rendijas.</p>
            </div>
        </div>
    </div>
</div>
