<div class="container">
    <div class="row mt-2">
        <div class="col-sm">
            <app-espiral></app-espiral>
        </div>
        <div class="card col-sm m-2" style="width: 18rem;">            
            <div class="card-body">
              <h5 class="card-title">Nesting Squares</h5>
              <p class="card-text text-justify ">En la ilusión de cuadrados de anidación, también llamada a veces la pirámide o ilusión de Vasarely, una serie de cuadrados se superponen entre sí, siendo cada cuadrado un poco más pequeño y brillante que el anterior. El efecto es de una estrella de luz o una figura en cruz que parece moverse desde el centro de los cuadrados a las esquinas de los cuadrados. En otras palabras, las esquinas de los cuadrados parecen ser más brillantes que los otros bordes, aunque cada cuadrado tiene el mismo brillo en todas partes. La ilusión de los cuadrados de anidación es similar a las bandas de Mach, ya que se cree que surge de la inhibición lateral.</p>
              <p class="card-text text-justify font-weight-bold">Instrucciones:</p>
              <p class="card-text text-justify">La posición horizontal del mouse en la pestaña del navegador, le da el valor rotacional a la ilusión.</p>
            </div>
        </div>
    </div>
</div>

