<div class="container">
  <div class="row mt-2">
      <div class="col-sm">
          <app-ambient></app-ambient>
      </div>
      <div class="card col-sm m-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Ambient</h5>
            <p class="card-text text-justify ">...</p>
            <p class="card-text text-justify font-weight-bold">Instrucciones:</p>
            <p class="card-text text-justify">La intensidad de la luz ambiente se puede variar con las flechas arriba y abajo</p>
          </div>
      </div>
  </div>
</div>
