<div class="container">
    <div class="row mt-2">
        <div class="col-sm">
            <app-feet></app-feet>
        </div>
        <div class="card col-sm m-2" style="width: 18rem;">            
            <div class="card-body">
              <h5 class="card-title">Stepping feet</h5>
              <p class="card-text text-justify ">La ilusión de pasos es un fenómeno de percepción de movimiento que involucra dos "autobuses", uno azul y otro amarillo, que se mueven horizontalmente a través de una "calle" que consta de rayas blancas y negras. Aunque ambos autobuses se mueven a velocidad constante, su velocidad percibida varía drásticamente.</p>
              <p class="card-text text-justify font-weight-bold">Instrucciones:</p>
              <p class="card-text text-justify">Para interactuar mantener click ademas puede aumentar y disminuir la cantidad de lineas con las flechas arriba y abajo</p>
            </div>
        </div>
    </div>
</div>
