
<div class="container">
  <div class="row my-2">
      <div class="col-sm">
        <canvas id="glcanvas" height="450" width="450">
          Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
        </canvas>
      </div>
      <div class="card col-sm m-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Fog</h5>
            <p class="card-text text-justify ">...</p>
            <p class="card-text text-justify font-weight-bold">Instrucciones:</p>
            <p class="card-text text-justify">Con el mouse se puede rotar el cubo, y con las flechas arriba y abajo se puede alejar y acercar</p>
          </div>
      </div>
  </div>
</div>
