<div class="container">
    <div class="row mt-2">
        <div class="col-sm text-justify" style="font-size: xx-small;">
            <table class="table table-dark table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Ilusión</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Referencia</th>
                        <th scope="col">Tipo de interactividad</th>
                        <th scope="col">URL codigo base</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Triangulo de Kanizsa</th>
                        <th>Geométrica, Ambigua, Paradójica.</th>
                        <th>Thomson, G. and Macpherson, F. (July 2017), "Kanizsa's Triangles" in F. Macpherson (ed.), The Illusions Index. Retrieved from https://www.illusionsindex.org/i/kanizsa-triangle.</th>
                        <th>Al oprimir una Tecla cambia la figura que se percibe</th>
                        <th>N/A</th>
                    </tr>
                    <tr>
                        <th scope="row">Breathing Cube</th>
                        <th>Geométrica, Ambigua.</th>
                        <th>Michael Bach webpage: https://michaelbach.de/ot/mot-breathingSquare/index.html</th>
                        <th>Con las teclas aumenta o disminuye el tamaño de la cruz</th>
                        <th>N/A</th>
                    </tr><tr>
                        <th scope="row">Ilusión de Hering</th>
                        <th>Geométrica, Ambigua.</th>
                        <th>Donaldson, J. and Macpherson, F. (July 2017), "Hering Illusion" in F. Macpherson (ed.), The Illusions Index. Retrieved from https://www.illusionsindex.org/ir/hering-illusion.</th>
                        <th>Al hacer clic cambia la figura que se percibe</th>
                        <th>N/A</th>
                    </tr><tr>
                        <th scope="row">Stepping feet</th>
                        <th>Geométrica, Ambigua.</th>
                        <th>Michael Bach webpage: https://michaelbach.de/ot/mot-feetLin/index.html</th>
                        <th>Al oprimir las teclas varía la forma en como se percibe el movimiento y al hacer clic se ve la realidad del movimiento</th>
                        <th>N/A</th>
                    </tr><tr>
                        <th scope="row">Tusi Motion</th>
                        <th>Geométrica, Paradójica.</th>
                        <th>Arthur Shapiro and Alex Rose-¬‐Henig, Department of Psychology, American University, “Tusi or Not Tusi”, 2014. Retrieved from http://www.shapirolab.net/IC2013/TusiorNotTusi_IC2013.pdf</th>
                        <th>N/A</th>
                        <th>https://www.openprocessing.org/sketch/791454</th>
                    </tr><tr>
                        <th scope="row">Vasarely's 'nested-squares'</th>
                        <th>Geométrica.</th>
                        <th>Troncoso, Xoana & Macknik, Stephen & Martinez-Conde, Susana. (2005). Novel Visual Illusions Related to Vasarely's ‘Nested Squares’ Show That Corner Salience Varies with Corner Angle. Perception. 34. 409-20. 10.1068/p5383.</th>
                        <th>N/A</th>
                        <th>https://www.openprocessing.org/sketch/421221</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <p class="text-justify">“The Illusion Index” es una página web donde se presenta una colección interactiva de ilusiones que ofrece el Centro para el estudio de la experiencia perceptual, mostrando cómo nuestros sentidos hacen las cosas mal y continúan haciéndolo, incluso cuando conocemos la naturaleza de la ilusión.</p>
        <p class="text-justify">Michael Bach es un científico alemán que muestra en su página web 141 ilusiones ópticas y fenómenos visuales, con el propósito de enseñar sobre nuestra percepción visual y sus limitaciones. La selección enfatiza la belleza y los experimentos interactivos e intenta explicar los mecanismos visuales subyacentes con un nivel técnico con el que cualquier usuario podría entender, siempre que sea posible.</p>
    </div>
</div>
