<div class="container">
  <div class="row mt-2">
      <div class="col-sm">
          <app-attenuation></app-attenuation>
      </div>
      <div class="card col-sm m-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Attenuation</h5>
            <p class="card-text text-justify ">...</p>
            <p class="card-text text-justify font-weight-bold">Instrucciones:</p>
            <p class="card-text text-justify">Con la posición del mouse se controla la iluminación</p>
          </div>
      </div>
  </div>
</div>
