<div class="container">
    <div class="row mt-2">
        <div class="col-sm">
            <app-osc></app-osc>
        </div>
        <div class="card col-sm m-2" style="width: 18rem;">            
            <div class="card-body">
              <h5 class="card-title">Tusi Motion</h5>
              <p class="card-text text-justify ">La pareja Tusi es un dispositivo matemático en el que un círculo pequeño gira dentro de un círculo más grande dos veces el diámetro del círculo más pequeño. Las rotaciones de los círculos hacen que un punto en la circunferencia del círculo más pequeño oscile hacia adelante y hacia atrás en movimiento lineal a lo largo del diámetro del círculo más grande.</p>
              <p class="card-text text-justify font-weight-bold">Instrucciones:</p>
              <p class="card-text text-justify">Para interactuar, con el click del mouse se activa y desactivan las linea guias</p>
            </div>
        </div>
    </div>
</div>
