<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="card m-2" style="width: 18rem;">            
            <div class="card-body">
              <h5 class="card-title">Diego Alexander Araque Molina</h5>
              <p class="card-text text-justify">email. daaraquem@unal.edu.co</p>
              <p class="card-text text-justify">Git. DiegoAraque1207</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">            
            <div class="card-body">
              <h5 class="card-title">Manuel Felipe Bejarano Baquero</h5>
              <p class="card-text text-justify">email. mfbejaranob@unal.edu.co</p>
              <p class="card-text text-justify">Git. ManuelBejarano</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="card m-2" style="width: 18rem;">            
            <div class="card-body">
              <h5 class="card-title">Daniel Camilo Pérez Cerón</h5>
              <p class="card-text text-justify">email. dacperezce@unal.edu.co</p>
              <p class="card-text text-justify">Git. dacperezce</p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">            
            <div class="card-body">
              <h5 class="card-title">Jhonatan Sandoval Velasco</h5>
              <p class="card-text text-justify">email. jsandovalv@unal.edu.co</p>
              <p class="card-text text-justify">Git. JhonatanSV</p>
            </div>
        </div>
    </div>
</div>
