<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Computacion Visual</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Taller1
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" >Escala de grises</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Taller2
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/it2">Informe</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/kaniza">Triangulo Kanizsa</a>
                  <a class="dropdown-item" routerLink="/breath">Breathing cube</a>                  
                  <a class="dropdown-item" routerLink="/hering">Hering</a>
                  <a class="dropdown-item" routerLink="/feet">Steping feet</a>                  
                  <a class="dropdown-item" routerLink="/osc">Tusi motion</a>
                  <a class="dropdown-item" routerLink="/espiral">Nesting</a>
                </div>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/repo">Repo</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/about">About us</a>
              </li>
          </ul>
        </div>
      </nav>
</div>
