<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="card" style="width: 18rem;">
            <img src="assets/Octocat.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Github</h5>
              <p class="card-text text-justify">Repositorio de la pagina web y los codigos en processing de los ejercicios hechos en el semestre.</p>
              <a href="https://github.com/ProjectKimera/Visual2020-3" target="_blank" class="btn btn-secondary">Repositorio</a>
            </div>
        </div>
    </div>
</div>