<div class="container">
    <div class="row mt-2">
        <div class="col-sm">
            <app-hering></app-hering>
        </div>
        <div class="card col-sm m-2" style="width: 18rem;">            
            <div class="card-body">
              <h5 class="card-title">Ilusion de Hering</h5>
              <p class="card-text text-justify ">Se trata de una imagen creada por el fisiólogo alemán Ewald Hering en 1861. Al mirar las líneas horizontales parece que estén curvadas, pero en realidad son perfectamente rectas. La distorsión aparente se produce por el diseño radial del fondo, que estimula la perspectiva y crea una falsa impresión de profundidad.</p>
              <p class="card-text text-justify font-weight-bold">Instrucciones:</p>
              <p class="card-text text-justify">Para identificar la ilusion hay que centrar la mirada en el punto rojo ubicado en el centro de la ilusion, para interactuar de click al mouse</p>
            </div>
        </div>
    </div>
</div>
